body {
  margin: 0;
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.mars-cameras-options {
  display: flex;
  gap: 10px;
}

.marsImg {
  display: inline-block;
  width: 200px;
  height: 200px;
}

.marsImg img {
  max-width: 100%;
  max-height: 100%;
}
